<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing game with Vue</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="title">
            <h1>Typing Game</h1>
            <div class="marker"></div>
        </div>
        <button v-if="startFlg!=true" class="startbutton mb-20" @click="gameStart">START</button>
        <div v-if="startFlg">
            <div class="question mb-20">{{currentQuestion}}</div>
            <div v-if="currentQuestionCounts==questionCOunt" class="clear">CLEAR</div>
            <div class="typeFormWrapper mb-20">
                <input id="typeForm" v-model="typeBox" type="text" class="typeForm">
            </div>

            <div class="gaugeWrapper mb-20">
                <div v-bind:style="styleObject" class="gauge"></div>
            </div>
            <div>{{currentQuestionCounts}}/{{questionCount}}</div>
        </div>
    </div>
    <script>
        new Vue ({
            el: "#app",
            data: {
                startFlg:"",
                currentQuestion:"",
                questions:[
                'apple',
                'banana',
                'chocolate',
                'donut',
                'espresso',
                ],
                typeBox:"",
                currentQuestionCounts:0,
                questionCount:0
            },
            computed:{//計算
                styleObject:function(){
                    width = 20 * this.currentQuestionCounts + "%"
                    if(this.currentQuestionCounts== 5) {
                        color = "#03a9f4"
                    } else {
                        color = "orange"
                    }
                    return {
                        'width':width, 'background-color':color
                    }
                }
            },

            methods:{//.htmlの関数を管理
                gameStart:function(){
                    this.startFlg = true;
                    this.$nextTick(function(){
                         document.getElementById("typeForm").focus()
                    })
                }
            },
            mounted:function(){//描画された時点で実行される
                this.currentQuestion = this.questions[0]
                this.questionCount = this.questions.length
            },
            watch:{//要素がかわるたびにfunctionが起こる
                typeBox:function(e){
                    if(e == this.currentQuestion) {
                        this.questions.splice(0,1)
                        this.currentQuestion = this.questions[0]
                        this.currentQuestionCounts += 1
                        this.typeBox = ""
                    }
                }
            }
        })
    </script>
</body>
</html>